<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/clients"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Clients
        </a>
      </div>
      <div class="col-sm">
        <a href="/items"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-shopping-basket "></i></span>
          <br>Items
        </a>
      </div>
      <div class="col-sm">
        <a href="/categories"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-list-alt"></i></span>
          <br>Categories
        </a>
      </div>
      <div class="col-sm">
        <a href="/addresses"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-map-marker"></i></span>
          <br>Addresses
        </a>
      </div>
    </div>
  </div>
